body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .navbar {
    background-color: #333333;
}

body.dark-mode .card {
    background-color: #444444;
    color: white;
}

body.dark-mode .btn-outline-light {
    border-color: white;
    color: white;
}

body.dark-mode .btn-outline-light:hover {
    background-color: white;
    color: black;
}

.card-img {
    object-fit:contain; 
    height:56.5vh;
}