{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<!-- Hero Section -->
<header class="text-center py-10" style="color: white; -webkit-text-stroke: 1pt; -webkit-text-stroke-color: black; text-shadow: 1px; background-image: url('https://pbs.twimg.com/media/GVf1Da1XYAAshFF.jpg:large'); background-position: center; background-size: auto; height: 15vh;">
    <div class="container h-100 d-flex flex-column justify-content-center">
        <h1 class="display-2">Find Your Favorite Anime Merchandise</h1>
        <h4>Everything in one place!</h4>
    </div>
</header>

<!-- Featured Goods Section -->
<section class="container my-5">
    <h2 class="text-center mb-4">Featured Goods</h2>
    <div class="row">
        <div class="col-md-4 d-flex">
            <div class="card flex-fill">
                <img src="https://static.myfigurecollection.net/upload/pictures/2021/08/20/2824557.jpeg" class="card-img" alt="Anime Figure">
                <div class="card-body">
                    <h5 class="card-title">Anime Figure</h5>
                    <p class="card-text">High-quality collectible figure of your favorite character.</p>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card flex-fill">
                <img src="https://i.ebayimg.com/images/g/pBEAAOSwdnZaOlcY/s-l400.png" class="card-img" alt="Anime Poster">
                <div class="card-body">
                    <h5 class="card-title">Anime Poster</h5>
                    <p class="card-text">Decorate your room with stunning anime posters.</p>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card flex-fill">
                <img src="https://www.hlj.com/productimages/seg/seg30421_0.jpg" class="card-img" alt="Anime Plushie">
                <div class="card-body">
                    <h5 class="card-title">Anime Plushie</h5>
                    <p class="card-text">Soft and cute plushies of your favorite characters.</p>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}